In [1]:
import pandas as pd 
import numpy as np

# local variables
path = 'data/raw_data/'
sample_data_path = 'data/sample_data/'
sample_size = 100000

# user data
user = pd.read_csv(path + 'users.tsv',sep='\t')
# application data
apps = pd.read_csv(path + 'apps.tsv',sep='\t')
# jobs data
jobs = pd.read_csv(path + 'jobs.tsv',sep='\t',error_bad_lines=False)
# user history data 
user_history= pd.read_csv(path + 'user_history.tsv',sep='\t')

b'Skipping line 122433: expected 11 fields, saw 12\n'
b'Skipping line 602576: expected 11 fields, saw 12\n'
b'Skipping line 990950: expected 11 fields, saw 12\n'
//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
# Get the first 100000 user 
sample_users = user.head(sample_size)
sample_users_id = []
for row in sample_users.itertuples():
    sample_users_id.append(row.UserID)

In [3]:
apps_sample = apps.loc[apps['UserID'].isin(sample_users_id)]
apps_sample

        UserID  WindowID  Split          ApplicationDate   JobID
0           47         1  Train  2012-04-04 15:56:23.537  169528
1           47         1  Train  2012-04-06 01:03:00.003  284009
2           47         1  Train  2012-04-05 02:40:27.753    2121
3           47         1  Train  2012-04-05 02:37:02.673  848187
4           47         1  Train  2012-04-05 22:44:06.653  733748
...        ...       ...    ...                      ...     ...
431334  618854         2  Train  2012-04-14 08:55:51.897  106478
431335  618854         2  Train  2012-04-17 09:46:35.653  790962
431336  618854         2  Train  2012-04-16 15:00:08.513  512660
431337  618854         2  Train   2012-04-16 15:08:01.19  599947
431338  618854         2  Train  2012-04-16 15:05:51.253  208359

[431339 rows x 5 columns]

In [4]:
# save to file
apps_sample.to_csv(sample_data_path + 'apps_sample.csv')

In [5]:
sample_jobs_id = []
for row in apps_sample.itertuples():
    sample_jobs_id.append(row.JobID)

In [6]:
jobs_sample = jobs[jobs['JobID'].isin(sample_jobs_id)]
jobs_sample

,JobID,WindowID,Title,Description,Requirements,City,State,Country,Zip5,StartDate,EndDate
0,1,1,Security Engineer/Technical Lead,<p>Security Clearance Required:&nbsp; Top Secr...,<p>SKILL SET</p>\r<p>&nbsp;</p>\r<p>Network Se...,Washington,DC,US,20531,2012-03-07 13:17:01.643,2012-04-06 23:59:59
1,4,1,SAP Business Analyst / WM,<strong>NO Corp. to Corp resumes&nbsp;are bein...,<p><b>WHAT YOU NEED: </b></p>\r<p>Four year co...,Charlotte,NC,US,28217,2012-03-21 02:03:44.137,2012-04-20 23:59:59
2,7,1,P/T HUMAN RESOURCES ASSISTANT,<b> <b> P/T HUMAN RESOURCES ASSISTANT</b> <...,Please refer to the Job Description to view th...,Winter Park,FL,US,32792,2012-03-02 16:36:55.447,2012-04-01 23:59:59
3,8,1,Route Delivery Drivers,CITY BEVERAGES Come to work for the best in th...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:10.077,2012-04-02 23:59:59
4,9,1,Housekeeping,I make sure every part of their day is magica...,Please refer to the Job Description to view th...,Orlando,FL,US,NaN,2012-03-03 09:01:11.88,2012-04-02 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...
563223,987126,3,Groundwater Sampling Technician,<B>Job Classification: </B> Contract \r\n\r\nL...,"<UL><LI>Sampling, HAZWOPER, LPS</UL>",Irvine,CA,US,92616,2012-04-10 21:02:39.787,2012-05-09 23:59:59
563226,987133,3,Boat Technician,<B>Job Classification: </B> Direct Hire \r\n\r...,"<UL><LI>FULL TIME, ASSEMBLY EXPERIENCE</UL>",Stevensville,MD,US,21666,2012-04-11 07:40:35.42,2012-05-10 23:59:59
563233,987147,3,Social Scientist - Human Terrain,<B>Job Classification: </B> Contract \r\n\r\nA...,"<UL><LI>ANTHROPOLOGY, SOCIOLOGY, PSYCHOLOGY, M...",New York,NY,US,10149,2012-04-11 09:16:50.59,2012-05-10 23:59:59
563234,987149,3,Cherry Picker/Forklift,<B>Job Classification: </B> Contract \r\n\r\nA...,"<UL><LI>CHERRY PICKER, FORK LIFT, Comfortable ...",Louisville,KY,US,40295,2012-04-11 09:21:54.99,2012-05-10 23:59:59
563235,987152,3,Warehouse/ Laborer,<B>Job Classification: </B> Contract \r\n\r\nA...,"<UL><LI>WAREHOUSE, GENERAL LABOR</UL>",East Moline,IL,US,61244,2012-04-11 09:26:24.81,2012-05-10 23:59:59

In [7]:
jobs_sample.to_csv(sample_data_path + 'jobs_sample.csv')

In [8]:
sample_users.to_csv(sample_data_path + 'users_sample.csv')

In [9]:
user_history_sample = user_history.loc[user_history['UserID'].isin(sample_users_id)]
user_history_sample

,UserID,WindowID,Split,Sequence,JobTitle
0,47,1,Train,1,National Space Communication Programs-Special ...
1,47,1,Train,2,Detention Officer
2,47,1,Train,3,"Passenger Screener, TSA"
3,72,1,Train,1,"Lecturer, Department of Anthropology"
4,72,1,Train,2,Student Assistant
...,...,...,...,...,...
447420,618854,2,Train,1,Resident Property Manager
447421,618854,2,Train,2,Assistant Manager
447422,618854,2,Train,3,Leasing Consultant
447423,618854,2,Train,4,Court Runner
447424,618854,2,Train,5,Administrator/Religious Program Specialist/Pay...

In [10]:
user_history_sample.to_csv(sample_data_path + 'user_history_sample.csv')